@section PageStyles{
    <link href="~/css/product-viewlist.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section PageScripts{
    <script src="~/js/client-viewlist.js"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
}

<h4>Lista de Clientes</h4>

<a class="btn btn-primary" href="@Url.Action("ViewAdd", "Client")">Adicionar</a>

<hr class="mb-3" />

<!--Tabela de Dados-->

<table id="tbClients" class="table table-striped table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
</table>
